<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="images/soudev.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/header.css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" />
    
  </head>
  <body>

    <header>
      <h1><a href="/">Free Photo Gallery</a></h1>

      <div class="right-side">
          <input type="text" id="searchTxt" value="<%= search %>" />
          <button onclick="searchingFor()" class="btn">Search</button>
      </div>
      
    </header>
    
    <main>
      <div class="view v-image">
        <dialog>
          <div class="close btn">X</div>
          <img id="dialog_image" src="images/search_finding.svg" />
          <div class="image-option">
            <div class="title"><h5 id="dialog_title"></h5>&nbsp;<h5 id="dialog_size"></h5></div>
            <div class="btn_option">
              <a href="#" id="dialog_source" target="_blank">
              <button class="btn">🌐 Source</button></a>
              <button id="dialog_download" class="btn">🔽 Download</button>
              <button id="prev" class="btn">◀ Prev</button>
              <button id="next" class="btn">Next ▶</button>
            </div>
          </div>
        </dialog>
        <% data.data.forEach((image, index) => { %>
        <figure id="<%= index %>">
          <img src="<%= image.detail.thumbnailLink %>" img_source="<%= image.detail.contextLink %>" img_link="<%= image.image %>" class="thumb_image" onclick="showTheImage('<%= index %>')" alt="<%= image.title %>" />
          <img src="images/download-icon.png" class="download-icon" onclick="downloadImage('<%= index %>')" alt="download-icon"/>
        </figure>
        <% }) %>
      </div>
      
      <div class="pagination">
        <button id="prev" class="btn" onclick="goToPrevPagination('<%= data.searchInformation.actualPage %>')">◀ Prev</button>
        <% for( let i = data.searchInformation.actualPage; i <= data.searchInformation.actualPage+2; i++ ) { %>
          <button class="btn <%= data.searchInformation.actualPage == i ? 'active' : '' %>" onclick="goToPageBtn('<%= i %>')" ><%= i %></button>
        <% } %>
        <button id="next" class="btn" onclick="goToNextPagination('<%= data.searchInformation.actualPage %>')" >Next ▶</button>
      </div>

    </main>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/FileSaver.min.js"></script>
    <script src="javascripts/image.js"></script>
  </body>
</html>
