<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="./../public/images/" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" />
    <script src="javascripts/index.js" defer></script>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>

      <div class="upload">
        <input type="text" />
        <button class="btn">Search Picture</button>
      </div>
    </header>
    <main>
 
      <div class="view">
        <dialog>
          <div class="close btn">X</div>
          <!-- <div class="prev"><div class="icon"></div></div> -->
          <!-- <h2><span>.</span></h2> -->
          <img src="/images/bg.jpg" style="width: 100%;">
          <div class="image-option">
            <a href="#" target="_blank"><button class="btn">Source</button></a>
            <button class="btn">Download</button>
            <button class="btn">◀ Prev</button>
            <button class="btn">Next ▶</button>
          </div>
          <!-- <div class="next"><div class="icon"></div></div> -->
        </dialog>

        <% data.data.forEach((image, index) => { %>
        <figure id="<%= index %>">
          <img src="<%= /*image.image*/ image.detail.thumbnailLink %>" id="openImage" alt="<%= image.title %>"/>
          <figcaption>
            <p>Title: <%= image.title.slice(0,50)+'...' %></p>
            <div class="image-option">
              <a href="<%= image.detail.contextLink %>" target="_blank"><button class="btn">Source</button></a>
              <button class="btn">Download</button>
            </div>
          </figcaption>
        </figure>
        <% }) %>
      </div>
    </main>
    <footer>&copy; All right reserved 2022</footer>
  </body>
</html>